@font-face {
    font-family: 'BYekan';
    src: url('./fonts/Yekan.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'BYekan', sans-serif;
}

.gradient-opacity {
    background: linear-gradient(to top, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bg-gradient {
    background: rgb(0,212,255);
    background: linear-gradient(-200deg, rgb(0, 119, 255) 18%, rgba(26,26,164,1) 70%, rgba(6, 1, 90, 0.947) 100%);
   
}